

/* General styles for the About Us page */
.about-page {
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

/* Section Styles */
section {
    width: 100%;
    max-width: 1500px;
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px #fff7f7;
    border-radius: 4px;
}

/* Heading styles */
h2 {
    font-size: 3em;
    color: #007bff;
    margin-bottom: 20px;
}

/* Paragraph styles */
p {
    font-size: 1.2em; 
    color: #0f0f0f;
    line-height: 1.8; 
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    text-align: justify; 
    padding: 0 20px; 
}

/* Our Values Section */
#about-values {
    background-color: #ffffff; 
    padding: 60px 20px;
    text-align: justify;
    border-radius: 8px;
    margin-bottom: 40px;
}

#about-values ul {
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
    list-style-type: none; 
}

#about-values li {
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

#about-values li:before {
    content: '•'; /* Add bullet point */
    color: #007bff; /* Bullet color */
    position: absolute;
    left: 0;
    font-size: 1.3em;
    top: 0;
}

#about-values strong {
    color: #007bff; /* Highlight the value names */
}


/* Responsive Design */
@media (max-width: 768px) {
    .about-page {
        padding: 20px;
    }

    section {
        padding: 20px;
    }

    h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
    }
}