.service-page {
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    padding: 60px 20px;
    display: block;
    box-sizing: border-box;
    text-align: left;
}

p {
    font-size: 1.4em;
    color: #0f0f0f;
    line-height: 2;
    margin: 0 auto;
    max-width: 1000px;
    /* Limit the width of text */
    padding: 0 20px;
    /* Add padding to ensure it looks good */
    text-align: left;
    /* Align text to the left */
}

h2,
h3 {
    font-size: 2.5em;
    color: #007bff;
    margin-bottom: 20px;
    max-width: 1000px;
    padding: 0 20px;
    text-align: center;
    margin: 0 auto;
}

.service-page-container {
    max-width: 1200px;
    /* Ensure the content has a container */
    margin: 0 auto;
    /* Centers the container itself */
    text-align: left;
    /* Align content to the left within the container */
}

@media (max-width: 768px) {
    .service-page {
        padding: 20px;
    }

    h2,
    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
        line-height: 1.5;
    }
}