.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-column h4 {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #444;
    margin-top: 20px;
    text-align: right;
    background: linear-gradient(90deg, rgb(61, 102, 249) 0%, rgb(87, 0, 105) 100%);
    clear: both;
    color:#fff;
    height: 100%;
}